doctype
html
head
   link(rel="stylesheet" href="04-figma-frontend.css")
body
   .viewport-desktop
      .FinKitSection
         .LanguageBar
         .ShortIntroAndCTAButton
            .ShortIntroBlock
            .CTAButtonBlock

         .BenefitsBlock
      .ProductsSection
         .Title
         .ProductsDescriptionBlock
      .WhyOurProductsSection
         .ShortIntroAndCTAButton
         .BenefitsBlock
   .viewport-mobile(style="display:none")
      .FinKitSection
         .LanguageBar
         .ShortIntroAndCTAButton
         .BenefitsBlock
      .ProductsSection
         .Title
         .ProductsDescriptionBlock
      .WhyOurProductsSection
         .ShortIntroAndCTAButton
         .BenefitsBlock